scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/esproject
        create path (nt:unstructured) /content/dam/esproject/jcr:content
        set properties on /content/dam/esproject/jcr:content
        set cq:conf{String} to /conf/esproject
        set jcr:title{String} to \"esproject\"
        end
        "
]
